@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to middle,
      transparent,
      rgb(28,24,23)
    ) */
    /* rgb(var(--background-start-rgb)); */
    background-image: radial-gradient(circle at top right, rgb(69,76,82), rgb(125,118,109), rgb(28,24,23));
}

.background:hover{
    background-color: rgb(125,118,109);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
